/*
********************************************************************************
** TAG SELECTORS                                                              **
********************************************************************************
*/

body {
font-family: "Montserrat";
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  line-height: 1.5;
  color: #8F8F8F
}

/*
********************************************************************************
** CLASS SELECTORS                                                            **
********************************************************************************
*/

.container-fluid {
  padding: 3% 15%;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
}

/*
********************************************************************************
** ID SELECTORS                                                               **
********************************************************************************
*/

#title {
  background-color: #FF4C68;
  color: #FFF;
}

/*
********************************************************************************
** FEATURES                                                                   **
********************************************************************************
*/

#features {
  padding: 7% 10%;
}

.feature-image {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-image:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 3%;
}

/*
********************************************************************************
** NAV BAR                                                                    **
********************************************************************************
*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/*
********************************************************************************
** DOWNLOAD BUTTONS                                                           **
********************************************************************************
*/

.download-button {
  margin: 5% 3% 5% 0;
}

/*
********************************************************************************
** TITLE IMAGE                                                                **
********************************************************************************
*/

.title-image {
  width: 60%;
  transform: rotate(25deg);
}
